## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

## Configurations

In [2]:
# path of the dataset
data_path='C:/Users/ansar/Desktop/Workspace/Personal/MLOPs/Storke Prediction/api/src/notebooks/data/preprocessed.csv'

# disable the limit for viewing all rows
pd.set_option('display.max_rows', None)
# disable the limit for viewing all columns
pd.set_option('display.max_columns', None)

## Feature Engineering

In [3]:
# loading the processed dataset
df_processed = pd.read_csv(data_path)

In [4]:
# creating age threshold feature
df_processed['over_40'] = (df_processed['age'] > 40).astype(int)

In [5]:
# creating medical risk score
df_processed['medical_risk_score'] = df_processed['hypertension'] + df_processed['heart_disease']

In [6]:
# one-hot encoding gender and Residence_type features
df_processed = pd.get_dummies(df_processed, columns=['gender', 'Residence_type'], drop_first=True)

In [7]:
# ordinal encoding ever_married, work_type, smoking_status features
df_processed['ever_married'] = df_processed['ever_married'].map({'Yes': 1, 'No': 0})
df_processed['work_type'] = df_processed['work_type'].map({'Self-employed': 2, 'Private': 1, 'Govt_job': 1, 'Other': 0})
df_processed['smoking_status'] = df_processed['smoking_status'].map({'formerly smoked': 2, 'smokes': 1, 'never smoked': 0, 'Unknown': 0})

In [8]:
# scaling the features
continuous_features = ['age', 'bmi', 'avg_glucose_level']
scaler = StandardScaler()
df_processed[continuous_features] = scaler.fit_transform(df_processed[continuous_features])

In [9]:
df_processed.head()

,id,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,over_40,medical_risk_score,gender_Male,Residence_type_Urban
0,9046,1.069938,0,1,1,1,2.372940,1.025656,2,1,1,1,True,True
1,31112,1.646336,0,1,1,1,0.212130,0.573884,0,1,1,1,True,False
2,60182,0.271847,0,0,1,1,1.559369,0.789741,1,1,1,0,False,True
3,1665,1.601998,1,0,1,2,1.606394,-0.571286,0,1,1,1,False,False
4,56669,1.690675,0,0,1,1,1.795048,0.142109,2,1,1,0,True,True

In [10]:
# saving the final data
df_processed.to_csv('./data/final_data.csv', index=False, header=True)
print('final data saved successfully.')

final data saved successfully.